@model Negocio.WCFAlumnos.AportacionesIMSS



<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cesantia)
        </dt>

        <dd>
             $@Html.DisplayFor(model => model.Cesantia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnfermedadMaternidad)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.EnfermedadMaternidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Infonavit)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.Infonavit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvalidezVida)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.InvalidezVida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Retiro)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.Retiro)
        </dd>

    </dl>
</div>
