
@model Negocio.WCFAlumnos.ItemTablaISR

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CuotaFija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuotaFija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Excedente)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.Excedente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISR)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.ISR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Límite_inferior)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.Límite_inferior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Límite_superior)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.Límite_superior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subsidio)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.Subsidio)
        </dd>

    </dl>
</div>
