
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bienvenido</h2>

<p>Hoy es: @DateTime.Now</p>

@{ if (DateTime.Now.Hour > 5 && DateTime.Now.Hour < 12)
    {
        <p>Buenos Dias.</p>
    }
    else if (DateTime.Now.Hour > 1 && DateTime.Now.Hour < 19)
    {
        <p>Buenas Tardes.</p>
        }
        else { 
<p> Buenas noches.</p>
    }
    }

<ol>
    <li>@Request.Url</li>
    <li>@Request.FilePath</li>
    <li>@Request.MapPath("")</li>
    <li>@Request.RequestType</li>
</ol>



